body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}
header, footer {
    background-color: #2b6873;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
footer .social-media a {
    color: #ecf0f1;
    margin: 0 10px;
}

footer .social-media a:hover {
    color: #c891ff;
}

.post {
    background-color: white;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
